---
layout: archive
---

{{ content }}

<section class="biography">
  <h2 class="section__title">A little about me</h2>
  <div class="biography__content">
    <div class="biography_text">
    <!-- Add your biography content here -->
    Hello, my name is Kiko and I am a recent graduate from the Cockrell School of Engineering at UT Austin, where I received my B.S. in Electrical and Computer Engineering with a specialization in Software Engineering and Design and a minor is Business Administration.

My main academic and career interests lie in back-end software development, mobile computing, artificial intelligence/machine learning, and entrepreneurship; my technical background stems from various independent and group based engineering projects within Cockrell, ranging from embedded systems video games to poem generating software applications. Down the road, I hope to find a position where I may fulfill both my engineering and business interests while making a meaningful impact in the field of technology. 

In addition to studying at the University of Texas, I have ventured out by taking courses at the University of California, Los Angeles, as well as in Barcelona, Greece, and Paris. I am extremely passionate about technology and innovation, while being considered a hard-working, determined individual who will go above and beyond to find any solution. 

Currently, I am seeking a software engineering internship position.
    </div>
    <img src="../assets/images/Tower Pic.JPG" alt="Your Photo" class="biography__photo">
  </div>
</section>

  <section class="hobbies">
    <h2 class="section__title">Personal Interests and Hobbies</h2>
    <div class="collage">
      <img src="../assets/images/intramural tennis.jpeg" alt="Hobby Photo 2" class="collage__photo">
      <img src="../assets/images/surfing w dad.jpg" alt="Hobby Photo 4" class="collage__photo">
      <img src="../assets/images/jetski.jpeg" alt="Hobby Photo 5" class="collage__photo">
      <img src="../assets/images/biking colorado.jpeg" alt="Hobby Photo 6" class="collage__photo">
      <img src="../assets/images/fishing 2.JPEG" alt="Hobby Photo 7" class="collage__photo">
      <img src="../assets/images/london eye.jpeg" alt="Hobby Photo 8" class="collage__photo">
      <img src="../assets/images/croatia w dad.jpeg" alt="Hobby Photo 1" class="collage__photo">
      <img src="../assets/images/fishing 1.jpg" alt="Hobby Photo 3" class="collage__photo">
      <!-- Add more photos as needed -->
    </div>
  </section>


<!-- <section class="experience">
  <h2 class="section__title">Experience</h2>
  <ul class="experience__list">
    <li class="experience__item">
      <h3 class="experience__role">[Job Title] at [Company]</h3>
      <p class="experience__duration">[Start Date] - [End Date]</p>
      <p class="experience__description"> -->
        <!-- Add your job description here -->
        <!-- Responsible for [Key Responsibilities and Achievements]. -->
      <!--</p>
    </li> -->
    <!-- Add more experience items as needed -->
 <!-- </ul> -->
  <!-- <img src="path/to/your/experience-photo.jpg" alt="Experience Photo" class="experience__photo"> -->
<!-- </section> -->

<section class="projects">
  <h2 class="section__title">Projects</h2>
  <div class="projects__grid">
    <div class="project__item">
      <img src="../assets/images/FoodVentory Title Final.jpeg" alt="Project Photo" class="project__photo">
      <h3 class="project__title">FoodVentory</h3>
      <p class="project__stack">Group Project | React Native, Firebase</p>
      <p class="project__dates">August - May 2024</p>
      <a href="https://drive.google.com/file/d/141mshtWl1glDdppBwMJ7LMwZOx_JRIKC/view?usp=sharing">FoodVentory Video</a>
      <p class="project__description">
        <!-- Add your project description here -->
        <ul>
          <li>Developed a cross-platform solution for iOS and Android, aimed at optimizing grocery shopping and meal planning
            by integrating receipt scanning, virtual pantry management, and intelligent recipe recommendations.</li>
          <li>Implemented key features including seamless receipt scanning and text extraction, creation of a user-friendly
            interface, and integration of real-time data synchronization using React Native and Firebase.</li>
        </ul>
      </p> 
    </div>

    <div class="project__item">
      <img src="../assets/images/human emotion recognition.jpeg" alt="Project Photo" class="project__photo">
      <h3 class="project__title">Human Emotion Recognition in Computer Vision</h3>
      <p class="project__stack">Research Project | Python</p>
      <p class="project__dates">January - May 2024</p>
      <p class="project__description">
        <!-- Add your project description here -->
        <ul>
          <li>Developed an advanced emotion recognition system using computer vision and deep learning techniques, integrating
            Gabor filtering, edge detection, and key-point processing to classify emotions with high accuracy.</li>
          <li>Conducted comprehensive data collection and preprocessing, utilizing FER+ and RaFD datasets, and implemented
            ensemble prediction strategies to enchance model performance.</li> 
        </ul>
      </p> 
    </div>

    <div class="project__item">
      <img src="../assets/images/Political Cartoon Generator.jpg" alt="Project Photo" class="project__photo">
      <h3 class="project__title">Political Cartoon Generator</h3>
      <p class="project__stack">Group Project | Python, NLP, Image Generation</p>
      <p class="project__dates">November 2023</p>
      <a href="https://medium.com/@nrv434/political-cartoon-generator-9fe863e7c638">Medium Article</a>
      <p class="project__description">
        <!-- Add your project description here -->
        <ul>
          <li>Utilised GPT API to enable conversion from article to cartoon as the baseline for comparison.</li>
          <li>Created several pipelines utilising DALL-E, StableDiffusion, and OpenFlamingo to find optimal methods for
            context-based image generation; implemented Doc2Vec model to test viability of generating images from numerical
            representations.</li> 
        </ul>
      </p> 
    </div>

    <div class="project__item">
      <img src="../assets/images/chat room.jpg" alt="Project Photo" class="project__photo">
      <h3 class="project__title">Client-Server with Socket Network Programming</h3>
      <p class="project__stack">Personal Project | Java</p>
      <p class="project__dates">April 2022</p>
      <p class="project__description">
        <!-- Add your project description here -->
        <ul>
          <li>Developed chat room application using Java Socket programming and complex object-oriented programming
            principles.</li>
          <li>Built and enabled one-on-one chat between users while hosting up to five clients within the server.</li> 
        </ul>
      </p> 
    </div>
    <!-- Add more project items as needed -->
  </div>
</section>

<style>
  .section__title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .biography__content, .experience__description, .project__description {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .biography__content {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .project__photo {
    width: 100%;
    height: auto;
    margin-top: 1em;
  }

  .biography__text {
  flex: 1;
  font-size: 1em;
}

  .biography__photo {
    width: 300px;
  height: auto;
  border-radius: 5px;
  }

  @media (max-width: 768px) {
  .biography__content {
    flex-direction: column;
    align-items: flex-start;
    }
  }

  .biography__photo {
    width: 100%;
  }

  .experience__list {
    list-style: none;
    padding: 0;
  }

  .experience__item {
    margin-bottom: 2em;
  }

  .projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }

  .project__item {
    flex: 1 1 300px;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    max-width: 100%;
  }

  .project__photo {
    width: 100%;
    height: auto;
    display: block;
  }

  .section__title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
  }

  .collage__photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
</style>

